<?xml version="1.0" encoding="utf-8"?>
<!--
レイヤーに関する情報.
ツールを使用してソース変換を行うためのマニュフェスト.
属性の部分は入力必須項目.※[default-language]は除く.
[guid]に識別用のコードを記述する.
[default-language]に基本となる言語コードを記載する.
言語コード規格は : ISO 639-1
[default-language]が設定されていない場合は[ja]が標準となる
-->

<Config guid="F6662E0E-1CA4-4D59-ACCA-CAC29A16C0AA" version="1.0.0.0" default-language="ja">

  <SourceName>Convolution</SourceName>
  <Name>畳みこみニューラルネットワーク</Name>
  <Text>畳みこみニューラルネットワーク.</Text>

  <!--レイヤーのデータ構造-->
  <Structure>
    <Int id="Output_Channel">
      <Name>出力チャンネル数</Name>
      <Text>出力されるチャンネルの数</Text>
      <Min>1</Min>
      <Max>65535</Max>
      <Default>1</Default>
    </Int>

    <Float id="DropOut">
      <Name>ドロップアウト率</Name>
      <Text>前レイヤーを無視する割合.&#x0A;1.0で前レイヤーの全出力を無視する</Text>
      <Min>0.0</Min>
      <Max>1.0</Max>
      <Default>0.0</Default>
    </Float>

    <Vector3D type="Int" id="Input">
      <Name>入力信号数</Name>
      <Text>畳みこみを行う入力信号数</Text>
      <Min>
        <x>1</x>
        <y>1</y>
        <z>1</z>
      </Min>
      <Max>
        <x>65535</x>
        <y>65535</y>
        <z>65535</z>
      </Max>
      <Default>
        <x>1</x>
        <y>1</y>
        <z>1</z>
      </Default>
    </Vector3D>
    <Vector3D type="Float" id="Move">
      <Name>移動量</Name>
      <Text>1ニューロンごとに移動する入力信号の移動量</Text>
      <Min>
        <x>0.1</x>
        <y>0.1</y>
        <z>0.1</z>
      </Min>
      <Max>
        <x>65535</x>
        <y>65535</y>
        <z>65535</z>
      </Max>
      <Default>
        <x>1</x>
        <y>1</y>
        <z>1</z>
      </Default>
    </Vector3D>
    <Vector3D type="Float" id="Stride">
      <Name>畳みこみ移動量</Name>
      <Text>畳みこみごとに移動する入力信号の移動量</Text>
      <Min>
        <x>0.1</x>
        <y>0.1</y>
        <z>0.1</z>
      </Min>
      <Max>
        <x>65535</x>
        <y>65535</y>
        <z>65535</z>
      </Max>
      <Default>
        <x>1</x>
        <y>1</y>
        <z>1</z>
      </Default>
    </Vector3D>
  </Structure>

  <!--学習に使用するデータの構造-->
  <Learn>
    <Float id="LearnCoeff">
      <Name>学習係数</Name>
      <Min>0.0</Min>
      <Max>1000.0</Max>
      <Default>1.0</Default>
    </Float>
  </Learn>

</Config>