<?xml version="1.0" encoding="utf-8"?>
<!--
レイヤーに関する情報.
ツールを使用してソース変換を行うためのマニュフェスト.
属性の部分は入力必須項目.※[default-language]は除く.
[guid]に識別用のコードを記述する.
[default-language]に基本となる言語コードを記載する.
言語コード規格は : ISO 639-1
[default-language]が設定されていない場合は[ja]が標準となる
-->

<Config guid="F6662E0E-1CA4-4D59-ACCA-CAC29A16C0AA" version="1.0.0.0" default-language="ja">

  <SourceName>Convolution</SourceName>
  <Name>畳みこみニューラルネットワーク</Name>
  <Text>畳みこみニューラルネットワーク.</Text>

  <!--レイヤーのデータ構造-->
  <Structure>
    <Vector3D type="Int" id="FilterSize">
      <Name>フィルタサイズ</Name>
      <Text>畳みこみを行う入力信号数</Text>
      <Min>
        <x>1</x>
        <y>1</y>
        <z>1</z>
      </Min>
      <Max>
        <x>65535</x>
        <y>65535</y>
        <z>65535</z>
      </Max>
      <Default>
        <x>1</x>
        <y>1</y>
        <z>1</z>
      </Default>
    </Vector3D>

    <Int id="Input_Channel">
      <Name>入力チャンネル数</Name>
      <Text>入力チャンネル数</Text>
      <Min>1</Min>
      <Max>65535</Max>
      <Default>1</Default>
    </Int>

    <Int id="Output_Channel">
      <Name>出力チャンネル数</Name>
      <Text>出力されるチャンネルの数</Text>
      <Min>1</Min>
      <Max>65535</Max>
      <Default>1</Default>
    </Int>

    <Vector3D type="Int" id="Stride">
      <Name>フィルタ移動量</Name>
      <Text>畳みこみごとに移動するフィルタの移動量</Text>
      <Min>
        <x>1</x>
        <y>1</y>
        <z>1</z>
      </Min>
      <Max>
        <x>65535</x>
        <y>65535</y>
        <z>65535</z>
      </Max>
      <Default>
        <x>1</x>
        <y>1</y>
        <z>1</z>
      </Default>
    </Vector3D>

    <Vector3D type="Int" id="Padding">
      <Name>パディングサイズ</Name>
      <Min>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </Min>
      <Max>
        <x>65535</x>
        <y>65535</y>
        <z>65535</z>
      </Max>
      <Default>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </Default>
    </Vector3D>

    <Enum id="PaddingType">
      <Name>パディング種別</Name>
      <Text>パディングを行う際の方法設定</Text>
      <Items>
        <Item id="zero">
          <Name>ゼロパディング</Name>
          <Text>不足分を0で埋める</Text>
        </Item>
        <!--
        <Item id="border">
          <Name>境界値</Name>
          <Text>不足分と隣接する値を参照する</Text>
        </Item>
        <Item id="mirror">
          <Name>反転</Name>
          <Text>不足分と隣接する値から逆方向に参照する</Text>
        </Item>
        <Item id="clamp">
          <Name>クランプ</Name>
          <Text>不足分の反対側の境目から順方向に参照する</Text>
        </Item>
        -->
      </Items>
      <Default>zero</Default>
    </Enum>

    <String id="Initializer">
      <Name>初期化関数</Name>
      <Text>初期化関数の種類</Text>
      <Default>glorot_uniform</Default>
    </String>

  </Structure>

  <!--学習に使用するデータの構造-->
  <RuntimeParameter>
    <Bool id="UpdateWeigthWithOutputVariance">
      <Name>出力の分散を用いて重みを更新するフラグ</Name>
      <Text>出力の分散を用いて重みを更新するフラグ.trueにした場合Calculate時に出力の分散が1になるまで重みを更新する.</Text>
      <Default>false</Default>
    </Bool>

  </RuntimeParameter>

</Config>