<?xml version="1.0" encoding="utf-8"?>
<!--
レイヤーに関する情報.
ツールを使用してソース変換を行うためのマニュフェスト.
属性の部分は入力必須項目.※[default-language]は除く.
[guid]に識別用のコードを記述する.
[default-language]に基本となる言語コードを記載する.
言語コード規格は : ISO 639-1
[default-language]が設定されていない場合は[ja]が標準となる
-->

<Config guid="0519E7FA-311D-4A1D-A615-959AFDD00526" version="1.0.0.0" default-language="ja" mult-input="true">

  <SourceName>Residual</SourceName>
  <Name>残差レイヤー</Name>
  <Text>入力信号のCHを加算して出力する.ResNet用.</Text>

  <!--レイヤーのデータ構造-->
  <Structure>
  </Structure>

  <!--学習に使用するデータの構造-->
  <Learn>
  </Learn>

</Config>