<?xml version="1.0" encoding="utf-8"?>
<!--
レイヤーに関する情報.
ツールを使用してソース変換を行うためのマニュフェスト.
属性の部分は入力必須項目.※[default-language]は除く.
[guid]に識別用のコードを記述する.
[default-language]に基本となる言語コードを記載する.
言語コード規格は : ISO 639-1
[default-language]が設定されていない場合は[ja]が標準となる
-->

<Config guid="BEBA34EC-C30C-4565-9386-56088981D2D7" version="1.0.0.0" default-language="ja">

  <SourceName>AllCoupledFeedForwardNeuralNetwork</SourceName>
  <Name>全結合ニューラルネットワークレイヤー</Name>
  <Text>全結合ニューラルネットワークレイヤー.&#x0A;結合層と活性化層を一体化.&#x0A;学習時に[学習係数][ドロップアウト率]を設定できる.</Text>

  <!--レイヤーのデータ構造-->
  <Structure>
    <Int id="NeuronCount">
      <Name>ニューロン数</Name>
      <Text>レイヤー内のニューロン数.&#x0A;出力バッファ数に直結する.</Text>
      <Min>1</Min>
      <Max>65535</Max>
      <Default>200</Default>
    </Int>

    <Enum id="ActivationType">
      <Name>活性化関数種別</Name>
      <Text>使用する活性化関数の種類を定義する</Text>
      <Items>
        <Item id="sigmoid">
          <Name>シグモイド関数</Name>
          <Text>y = 1 / (1 + e^(-x));&#x0A;範囲 0 &lt; y &lt; 1&#x0A;(x=0, y=0.5)を通る</Text>
        </Item>
        <Item id="ReLU">
          <Name>ReLU（ランプ関数）</Name>
          <Text>y = max(0, x);&#x0A;範囲 0 &lt;= y&#x0A;(x=0, y=0)を通る</Text>
        </Item>
      </Items>
      <Default>sigmoid</Default>
    </Enum>

    <!--
    <Bool id="BoolSample">
      <Name>Bool型のサンプル</Name>
      <Text></Text>
      <Default>true</Default> true or falseで記入
    </Bool>
    -->
    <!--
    <String id="StringSample">
      <Name>String型のサンプル</Name>
      <Default>サンプル</Default>
    </String>
    -->
  </Structure>

  <!--学習に使用するデータの構造-->
  <Learn>
    <Float id="LearnCoeff">
      <Name>学習係数</Name>
      <Min>0.0</Min>
      <Max>1000.0</Max>
      <Default>1.0</Default>
    </Float>
    
    <Float id="DropOut">
      <Name>ドロップアウト率</Name>
      <Text>前レイヤーを無視する割合.&#x0A;1.0で前レイヤーの全出力を無視する</Text>
      <Min>0.0</Min>
      <Max>1.0</Max>
      <Default>0.0</Default>
    </Float>
  </Learn>

</Config>