<?xml version="1.0" encoding="utf-8"?>
<!--
レイヤーに関する情報.
ツールを使用してソース変換を行うためのマニュフェスト.
属性の部分は入力必須項目.※[default-language]は除く.
[guid]に識別用のコードを記述する.
[default-language]に基本となる言語コードを記載する.
言語コード規格は : ISO 639-1
[default-language]が設定されていない場合は[ja]が標準となる
-->

<Config guid="754F6BBF-7931-473E-AE82-29E999A34B22" version="1.0.0.0" default-language="ja" mult-input="true">

  <SourceName>MergeAdd</SourceName>
  <Name>レイヤーのマージ(加算)</Name>
  <Text>入力信号のCHを加算して出力する.各入力のX,Y,Zはすべて同一である必要がある</Text>

  <!--レイヤーのデータ構造-->
  <Structure>
    <Enum id="MergeType">
      <Name>マージ種別</Name>
      <Text>マージする際にCH数をどのように決定するか</Text>
      <Items>
        <Item id="max">
          <Name>最大</Name>
          <Text>入力レイヤーの最大数に併せる</Text>
        </Item>
        <Item id="min">
          <Name>最小</Name>
          <Text>入力レイヤーの最小数に併せる</Text>
        </Item>
        <Item id="layer0">
          <Name>先頭レイヤー</Name>
          <Text>先頭レイヤーの数に併せる</Text>
        </Item>
      </Items>
      <Default>max</Default>
    </Enum>

    <Float id="Scale">
      <Name>倍率</Name>
      <Text>出力信号に掛ける倍率</Text>
      <Min>-65535</Min>
      <Max>65535</Max>
      <Default>1.0</Default>
    </Float>

  </Structure>

  <!--学習に使用するデータの構造-->
  <Learn>
  </Learn>

</Config>